/* Inicio */
.inicio {
  text-align: center;
  padding: 2rem;
}

/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

main {
  flex: 1;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f8fc;
  color: #333;
}

/* Header */
header {
  background: linear-gradient(90deg, #d16ba5, #c777b9, #ba83ca);
  padding: 1rem;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}


/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Responsividad */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  .productos-container {
    flex-direction: column;
  }
  .productos .card {
    margin: auto
  }
}