/* Productos con Flexbox */
.productos {
  text-align: center;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.productos .card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 280px;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease;
  margin: 0
}

.productos .card:hover {
  transform: translateY(-8px);
}

.productos img {
  width: 100%;
  border-radius: 12px;
}